
<header class="header">
  <div class="header__right">
    <span class="material-icons icon-small">
      keyboard_backspace
    </span>
    <h6>الدخول الى البوابة</h6>
    <mat-slide-toggle color="primary" checked="true" ></mat-slide-toggle>     <b>الوضع الداكن</b> 
      <span class="material-icons icon-small" >
      keyboard_arrow_down
      </span>  
      <h6 >الإعدادات</h6>
    
  
  </div>
  <div class="header__left">
    <b>وزارة الحج والعمرة</b>
    <h6>|</h6>
    <b>البيانات التشغيلية للتفويج</b>
   
    <img class="brand-logo" src="/assets/logo.png" alt="logo">
  </div>
</header> 
<app-home></app-home>
