
<header class="header">
  <div style="padding-left: 250px; padding-top: 10px;">  
  <app-circler-progress> </app-circler-progress>
</div>
<div style="padding-left: 110px; padding-top: 40px;">
  <h6 style="padding-left: 50px; font-size: 13px;">تفاصيل العملية</h6>
  <h1 >منى إلى عرفات</h1>
</div>
  <div style="padding-top: 20px; padding-right: 10px;"> 
  <div class="box" >
    <div class="text">11 </div>
    <div class="text"> ذي الحجة  </div>
   </div>
   
  </div>
  
</header>
<div style="display: flex; padding-left: 500px; padding-top: 30px; ">
  <mat-card class="card">
    <mat-card-header style="display: flex; align-items: center; justify-content: center;">
      <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: rgb(245, 247, 158);"></span>
      <mat-card-title style="text-align: center; margin-right: 10px;">أفواج وصلت</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table3></app-table3>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header style="display: flex; align-items: center; justify-content: center;">
      <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: rgb(88, 128, 213);"></span>
      <mat-card-title style="text-align: center; margin-right: 10px;">أفواج خرجت</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table2></app-table2>
    </mat-card-content>
  </mat-card>

 

  <mat-card class="card">
    <mat-card-header style="display: flex; align-items: center; justify-content: center;">
      <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: rgb(201, 127, 207);"></span>
      <mat-card-title style="text-align: center; margin-right: 10px;">أفواج متبقية</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table></app-table>
    </mat-card-content>
  </mat-card>
</div>